
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>َLogin</title>
<meta name="viewport" content="width:device-width,initial scale=1"/>
<link rel="stylesheet" href="/css/stylelogin.css" type="text/css">
</head>
<body>
 <form class="box" action="/addUser" method="Post">
  <img th:src="@{/images/emart.png}" />
  <h1>Login</h1>
  <input type="text" name="username" placeholder="Username">
  <p th:text="${message2}" style="color:red"></p>
  <input type="password" name="npassword" placeholder="New Password">
  <input type="password" name="cpassword" placeholder="Confirm Password">
  <p th:text="${message1}" style="color:red"></p>
  <input type="submit" name="" value="Register">
  <a th:href="@{/login}" style="text-decoration:none;color:white;">Already member click here!</a>
</form>
</body>
</html>

